/* src/pages/CheckInForm.module.css */
form {
  max-width: 600px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: 600;
}

input,
textarea {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #0f0101;
  background-color: #f0f0f0;
}
input[type="text"],
textarea,
input[type="file"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  padding: 10px 15px;
  background-color: #3182ce;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: #2c5282;
}
